<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<!--<load-on-startup>1</load-on-startup>可以在启动服务器的同时调用Administrator，从数据库里取出数据  -->
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Administrator</servlet-name>
  	<display-name>Administrator</display-name>
  	<servlet-class>servlets.Administrator</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditServlet</servlet-name>
  	<display-name>EditServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.EditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<display-name>SearchServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddServlet</servlet-name>
  	<display-name>AddServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUserServlet</servlet-name>
  	<display-name>AddUserServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QueryDeleteServlet</servlet-name>
  	<display-name>QueryDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.QueryDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Administrator</servlet-name>
  	<url-pattern>/Administrator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditServlet</servlet-name>
  	<url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddServlet</servlet-name>
  	<url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddUserServlet</servlet-name>
  	<url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QueryDeleteServlet</servlet-name>
  	<url-pattern>/QueryDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>
